<div class="row justify-content-center">
  <div class="card" style="text-align: center;">
    <img class="card-img-top" src="<%= @task.picture %>" >
    <div class="card-body">
      <h5 class="card-title"><%= @task.title %></h5>
        <% if current_user.tasks.where(id: @task.id).present? %>
          <%= link_to 'Hecha', task_user_task_path(@task.id, id: current_user), method: :delete, class: 'btn btn-success' %>
        <% else %>
          <%= link_to 'Aún por hacer', task_user_tasks_path(@task.id), method: :postm, class: 'btn btn-warning' %>
        <% end %>
    </div>
  </div>
</div>
<br>

<% if @ranking.present? %>
  <h3 style="text-align: center">Primeros en completarla:</h3>
  <div class="row">
    <% @ranking.each do |user| %>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%= user.picture %>">
          <div class="card-body">
            <h5 class="card-title"><%= user.email %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <% if @users.count > 5 %>
    <ul>
      <h4>La ha completado: </h4>
      <% @users.each do |user| %>
        <li><%= user.email %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
